{% extends 'main.html' %}


{% block body %}

<h1>hello i am home</h1>
<!-- {{data}} -->
<div class="d-flex justify-content-center gap-4 flex-wrap">
    {% for i in data %}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.content}}</p>
                <div class="d-flex gap-2 py-2">
                    {% for j in i.categories.all %}

                    <span class="badge text-bg-success">{{j.name}}</span>
                    {% endfor %}
                </div>
                <div class="badge text-bg-warning">{{i.author.first_name}}</div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}