{% extends 'main.html' %}


{% block body %}
{% load crispy_forms_tags %}
<h1>hello main profile</h1>

<div>
    change Info <a href="{% url 'profileEdit' %}" class="btn btn-primary">Edit Profile</a>
</div>
<div class="d-flex justify-content-center gap-4 flex-wrap">
    {% for i in data %}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.content}}</p>
                <div class="d-flex gap-2 py-2">
                    {% for j in i.categories.all %}

                    <span class="badge text-bg-success">{{j.name}}</span>
                    {% endfor %}
                </div>
                <div class="badge text-bg-warning">{{i.author.first_name}}</div>
                <div class="my-2">

                    <a href="{% url 'edit' i.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}