{% extends "base.html" %}
{% block body %}
<h1>This is home</h1>
<!-- {{task}} -->
<div class="d-flex container gap-2 flex-wrap justify-content-center">

    {% for i in task %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{i.id}}</h5>
            <h5 class="card-title">{{i.title}}</h5>
            <h5 class="card-title">{{i.created_at}}</h5>
            {% for j in i.category.all%}

            <span class="badge  text-bg-success">{{j.name}}</span>
            {% endfor %}
            <p class="card-text">{{i.description}}</p>
            {% if i.isCompleted %}
            <span class="btn btn-success">Completed</span>
            {% else %}
            <a href="{% url 'TaskEdit' i.id %}" class="btn btn-primary">Edit</a>
            {% endif %}
            <a href="{% url 'TaskDelete' i.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}